{
  description = "{{ project_name }}";

  inputs = {
    nixpkgs.url = "github:NixOS/nixpkgs/nixos-24.11";
    fp.url = "github:hercules-ci/flake-parts";
    devshell = {
      url = "github:numtide/devshell";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    inputs:
    inputs.fp.lib.mkFlake { inherit inputs; } {
      systems = inputs.nixpkgs.lib.systems.flakeExposed;
      perSystem =
        { system, pkgs, lib, ... }:
        {
          _module.args.pkgs = import inputs.nixpkgs {
            inherit system;
            config.allowUnfree = true;
            overlays = [ inputs.devshell.overlays.default ];
          };
          devShells.default = pkgs.devshell.mkShell {
          name = "{{ module_name }}";
          motd = "{32}{{ project_name }} activated {35}󰈐{reset}\n$(type -p menu &>/dev/null && menu)\n";
            packages = with pkgs; [
              (python313.withPackages (
                pypkgs: with pypkgs; [
                  pip
                ]
              ))
              copier
              file
              nodejs_23
              postgresql_17
              pre-commit
              process-compose
              pyright
              ruff
              ruff-lsp
              typescript
              viu
            ];

            env = [
              {
                name = "LD_LIBRARY_PATH" ;
                value = pkgs.lib.makeLibraryPath [
                  pkgs.file
                  pkgs.stdenv.cc.cc.lib
                ];
              }
            ];

            commands = [
              {
                name = "install-hooks";
                command = ''[ ! -f .pre-commit-config.yaml ] && (pushd $PRJ_ROOT ; pre-commit install --overwrite ; popd)'';
                help = "Install or update pre-commit hooks";
              }

              {
                name = "init-db";
                command = ''
                  mkdir -p "$PGDATA"
                  [ -f "$PGDATA/PG_VERSION" ] || ${pkgs.postgresql_17}/bin/initdb -D "$PGDATA"
                '';
              }

              {
                name = "format";
                command = ''pushd $PRJ_ROOT ; (ruff format -q {{ module_name }}/ && isort -q --dt {{ module_name }}/) ; popd'';
                help = "Apply ruff and isort formatting";
              }

              {
                name = "check";
                command = ''pushd $PRJ_ROOT ; (ruff check {{ module_name }}/ || true); pyright {{ module_name }}/ ; popd'';
                help = "Run ruff linter and pyright type checker";
              }

              {
                name = "up";
                command = "process-compose up -p {{ process_compose_port }}";
              }

              {
                name = "down";
                command = "process-compose down";
              }
            ];
          };
        };
    };
}

