import asyncio
import os
import threading
import typing as t
from logging import Logger
from pathlib import Path

import pydantic as p
import uvicorn

import {{ module_name }}.lib.cli as click
import {{ module_name }}.lib.debug as debug
from {{ module_name }}.core import BootConfiguration, di
from {{ module_name }}.core.config import LoggingSettings, WebSettings
from {{ module_name }}.core.provider import LoggingProvider


class ServeConfig(t.TypedDict):
    host: str
    port: int


@click.group()
def web(): ...


@web.command(name="develop")
@click.argument("app_name")
@click.option("-w", "--workers", type=click.IntRange(min=1), default=4)
@di.inject
def develop(
    app_name: str,
    workers: int,
    root: Path = di.Provide["root"],
    boot_cf: BootConfiguration = di.Provide["_boot_config"],
    logging: LoggingProvider = di.Provide["logging"],
    logging_cf: LoggingSettings = di.Provide["config.logging", di.as_(LoggingSettings)],  # noqa: B008
    web_cf: WebSettings = di.Provide["config.web", di.as_(WebSettings)],  # noqa: B008
):
    uvi_cf: ServeConfig
    vite_cf: ServeConfig | dict[str, None] = {}
    match app_name:
        {% for app in web_apps %}
        case "{{ app.module_name }}":
            cf = web_cf.{{ app.module_name }}
            fe_root = root / "{{ module_name }}/web/{{ app.module_name }}/frontend"
            spec = "{{ module_name }}.web.{{ app.module_name }}:create_app"
            uvi_cf = {"host": str(cf.backend.host), "port": cf.backend.port}
            if cf.frontend:
                # NOTE: in prod we may not have a frontend config since we'd
                #       serve from the CDN
                vite_cf = {
                    "host": str(cf.frontend.host),
                    "port": cf.frontend.port,
                }
        {% endfor %}
        case _:
            raise KeyError(f"unknown app: {app_name}")

    os.environ["__{{ class_prefix }}_BOOT"] = boot_cf.model_dump_json()
    vite_logger = logging.get_logger(name="vite")
    vite_env = {
        "api_url": p.AnyUrl(f"http://{uvi_cf['host']!s}:{uvi_cf['port']}/"),
    }
    vite_args: tuple[Path, dict[str, t.Any], Logger] = (fe_root, vite_env, vite_logger)
    vite_kwargs: ServeConfig | dict[str, None] = vite_cf or {}
    vite = threading.Thread(
        name="vite-dev",
        target=_asyncio_main,
        args=(_run_vite(*vite_args, **vite_kwargs), vite_logger),  # pyright: ignore [reportArgumentType]
        daemon=True,
    )
    vite.start()
    with debug.remote_debugger():
        uvicorn.run(spec, factory=True, reload=True, workers=workers, log_config=logging_cf.model_dump(), **uvi_cf)


def _asyncio_main(awaitable: t.Awaitable[t.Any], logger: Logger):
    loop = asyncio.new_event_loop()
    asyncio.set_event_loop(loop)

    try:
        loop.run_until_complete(awaitable)
    except Exception:
        logger.exception(f"error in asyncio main: {awaitable.__qualname__}")
    finally:
        loop.close()


async def _read_stream(stream: asyncio.StreamReader, log: t.Callable[[str], None]):
    while True:
        line = await stream.readline()
        if not line:
            break
        log(line.decode().strip())


async def _run_vite(
    fe_root: Path, env: dict[str, t.Any], logger: Logger, /, host: str | None = None, port: int | None = None
):
    args: list[str] = []
    if host is not None:
        args.extend(["--host", host])
    if port is not None:
        args.extend(["--port", str(port)])

    environ = os.environ.copy()
    environ.update(**{f"VITE_{k.upper()}": str(v) for k, v in env.items()})
    process = await asyncio.create_subprocess_exec(
        "node",
        "node_modules/.bin/vite",
        *args,
        env=environ,
        cwd=fe_root,
        stdout=asyncio.subprocess.PIPE,
        stderr=asyncio.subprocess.PIPE,
    )

    await asyncio.gather(
        _read_stream(t.cast(asyncio.StreamReader, process.stdout), logger.info),
        _read_stream(t.cast(asyncio.StreamReader, process.stderr), logger.error),
    )

    await process.wait()
