__all__ = [
    "BaseModel",
    "DeploymentEnvironment",
{%- for model in models %}
    "{{ model.class_name }}",
    "{{ model.class_name }}ID",
{%- endfor %}
]

from .base import BaseModel
from .enum import DeploymentEnvironment
from .id import {% for model in models %}{{ model.class_name }}ID{{ '' if loop.last else ',' }}{% endfor %}
{% for model in models %}from .{{ model.table_name }} import {{ model.class_name }}{% endfor %}
