version: "0.1"

processes:
  postgres:
    command: 'postgres -p{{ postgresql_port }} -k ${XDG_STATE_HOME} -c logging_collector=off -c log_destination=stderr -c log_min_messages=INFO -c log_statement=all'
    disabled: true
    is_daemon: true
    readiness_probe:
      exec:
      command: "pg_isready -p{{ postgresql_port }}"
      interval: 5s
    environment:
      - PGDATA=${PGDATA}
      - PGHOST=${PGHOST}
    availability:
      restart: "always"
    shutdown:
      command: "pg_ctl stop -D ${PGDATA} -m fast"
      signal: 2  # INT
      timeout: 30s

  memcached:
    command: "memcached -u nobody -m 64 -p {{ memcached_port }}"
    disabled: true
    shutdown:
      signal: 15  # TERM
      timeout: 10s
    readiness_probe:
      exec:
        command: "ss -tanl | grep {{ memcached_port }}"
      interval: 5s
      timeout: 2s

  rabbitmq:
    command: "rabbitmq-server"
    disabled: true
    shutdown:
      command: "rabbitmqctl stop"
      timeout: 20s
    readiness_probe:
      exec:
        command: "rabbitmqctl -n ${RABBITMQ_NODENAME} status"
      interval: 5s
      initial_delay: 10s
      timeout: 3s
{% for app in web_apps %}

  {{ app.module_name }}-api:
    command: "poetry run python -m {{ module_name }}.cli web serve {{ app.module_name }}"
    disabled: true
    readiness_probe:
      http_get:
        host: 127.0.0.1
        port: {{ app.backend_port }}
        path: /openapi.json
      interval: 5s
      timeout: 2s
    shutdown:
      signal: 15  # TERM
      timeout: 10s

  {{ app.module_name }}-dev:
    command: "poetry run python -m {{ module_name }}.cli web develop {{ app.module_name }}"
    disabled: false
    readiness_probe:
      http_get:
        host: 127.0.0.1
        port: {{ app.backend_port }}
        path: /openapi.json
      interval: 5s
      timeout: 2s
    shutdown:
      signal: 15  # TERM
      timeout: 10s

  {{ app.module_name }}-vite:
    command: "npm run dev --prefix {{ module_name }}/web/{{ app.module_name }}/frontend -- --port {{ app.frontend_port }}"
    disabled: false
    readiness_probe:
      http_get:
        host: 127.0.0.1
        port: {{ app.frontend_port }}
        path: /
      interval: 5s
      timeout: 2s
    shutdown:
      signal: 15  # TERM
      timeout: 10s
{%- endfor %}
